<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> All Path Algorithm </title>
	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styleSheet.css">
	  
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
 <body img src="/images/algorithm.jpg">
	    <div class="page" >

			<h1 > All Path Algorithm </h1 >
			<h2 > Demo Page </h2 >
			<nav class="nav" >
				<div class="nav--border" >
					<ul >

						<a href="/home" class="nav--link" >
							<div class="nav--icon-container" >
								<i class="material-icons" > home</i >
							</div >
							<span class="nav__label" > Home Page</span >
						</a >

						<a href="/demo" class="nav--link" >
							<div class="nav--icon-container" >
								<i class="material-icons" > code</i >
							</div >
							<span class="nav__label" > Demo Page</span >
						</a >

						<div class="help" >
						<a href="/help" class="help--link" >
							<div class="help--icon-container" >
								<i class="material-icons" > help_outline</i >
						</div >
							<span class="help__label" > Help</span >
						</a >
						</div >

					</ul>
				</div >
			</nav >
		</div >

		<div class="main" >

        <h3>How to use</h3>	
		<div id="center" >
       <p> 		
		Step 1 
		<br>
		Upload a graph file below <br>
		
	   </p>

		<form ref='uploadForm' id='uploadForm' action='/upload'  method='post' encType="multipart/form-data">
			
			<input id="fileUpload" type="file" name="file" class="custom-file-upload" data-multiple-caption="{count} files selected" multiple/ >
				<label for="fileUpload" ><span>
					<p> <i class="material-icons" > upload_file </i></p>
					<p> Drag and drop a file or click to upload a graph from file explorer </p>
					</span>
				</label >
				<br>
		

			
			<div id="run">
				<input type="submit" value=" Upload " id="submit" />
				
			</div>
			</form>


			<%   if(typeof alert != "undefined" && alert)      { %>
			<div class="alertclass">
			  <div class="alert-warning" role="alert">
				<strong><%=  alert  %></strong>
			  </div>
			</div> 
		  <% }    %>

		  <%   if(typeof alertg != "undefined" && alertg)      { %>
			<div class="alertclass">
			  <div class="alert-success" role="alert">
				<strong><%=  alertg  %></strong>
			  </div>
			</div> 
		  <% }    %>

		  <br><br>
		  <p>
		  
		   <%   if(typeof partii != "undefined" && partii)      { %>
		   <%=  partii  %> <br>

		  Run the algorithm on
		  
		  '<%   if(typeof fil != "undefined" && fil)      { %>
		  <%=  fil  %>
		  <% }    %>'
		  
		  using the 'Run program' button below 
		  </p>
		<p>
		<form action='/run' method='post' encType="multipart/form-data">
			<div id="run">
			 <input type="submit" value="Run program " id="run"/> 
			
			 </div>
			 </p>
			  
			  <%   if(typeof runerr != "undefined" && runerr)      { %>
			<div class="alertclass">
			  <div class="alert alert-warning alert-dismissible fade show" role="alert">
				<strong><%=  runerr  %></strong>
			  </div>
			</div> 
		  <% }    %>
			 
			<% }    %>
			</p>
        </div>
	   </div>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	 <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script>
  function addDarkmodeWidget() {
    new Darkmode(options).showWidget();
  }
  window.addEventListener('load', addDarkmodeWidget);

  const options = {
    bottom: '64px', // default: '32px' 
    right: '32px', // default: '32px' 
    left: 'unset', // default: 'unset' 
    time: '0.5s', // default: '0.3s' 
    mixColor: '#fff', // default: '#fff' 
    backgroundColor: '#fff', // default: '#fff' 
    buttonColorDark: '#100f2c', // default: '#100f2c' 
    buttonColorLight: '#fff', // default: '#fff' 
    saveInCookies: false, // default: true, 
    label: '&#127763', // default: '' 
    autoMatchOsTheme: true // default: true
}
  </script>

<script>

var inputs = document.querySelectorAll( '.custom-file-upload' );
Array.prototype.forEach.call( inputs, function( input )
{
	var label	 = input.nextElementSibling,
		labelVal = label.innerHTML;

	input.addEventListener( 'change', function( e )
	{
		var fileName = '';
		if( this.files && this.files.length > 1 )
			fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
		else
			fileName = e.target.value.split( '\\' ).pop();

		if( fileName )
			label.querySelector( 'span' ).innerHTML = fileName;
		else
			label.innerHTML = labelVal;
	});
});

</script>

</html>